@{
  Layout = "_Layout";
}

  <body>
		<h1 class="jumbotron">Welcome to the To Do List!</h1>
		<center>
		<p>@Html.ActionLink("See all items", "Index", "Items")</p>
		<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
		</center>
	</body>	
</html>