@{
  Layout = "_Layout";
}

  <body>
		<h1 class="jumbotron">Welcome to the To Do List!</h1>
		<center>
		<button type="button" class="btn btn-primary" onclick="location.href='/categories'">View categories</button>
		<button type="button" class="btn btn-primary" onclick="location.href='/categories/new'">Add a new category</button>
		</center>
	</body>	
</html>