<form action="/autos" method="post">
<label for="makemodel">Enter Make and Model</label>
<input name="makemodel" type="text" required>
<label for="price">Enter Price</label>
<input name="price" type="text" required>
<label for="miles">Enter Mileage</label>
<input name="miles" type="text" required>
<button type="submit">Add Vehicle</button>
</form>