form {
    text-align: center;
  }
  
  button {
    margin: 10px;
    align-self: center;
  }
  
  li {
    color:black;
  }
  
  .jumbotron{
    text-align: center;
    font-size: 3em;
    background-color: #ffb6c1;
    font-family: 'Bungee Shade';
  }
  .col-md-5 {
    border: 2px solid black;
  }
  
  .showTurnTotal {
    display: none;
    font-size: 200%;
  }
  
  .gameStuff {
    display: none;
  }
  
   #rollResult {
    border: 2px solid black;
    display: none;
    background:#ffb6c1;
    text-align: center;
    font-size: 3em;
  }
  
  #turnTotalStuff {
    text-align: center;
    background: #ffb6c1;
  
  }
  
  #turnTotal {
      text-align: center;
      border: 2px solid black;
      font-size: 3em;
  }
  
  #player1Display {
    display: none;
    text-align: center;
    border: 2px solid black;
    color: #000000;
    background-color: #ffb6c1;
  }
  
  #player2Display {
    display: none;
    text-align: center;
    border: 2px solid black;
    color: #000000;
    background-color: #ffb6c1;
  }
  
  
  #turnTotalStuff {
    border: 2px dashed black;
    }
  
  #imgID {
    margin-left: 30%;
  }
  
  .row {
    text-align: center;
  }