<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css'>
  	 <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  </head>
  <body>
		<style>
			.jumbotron {
    text-align: center;
    font-size: 8em;
    
    font-family: 'Bungee Shade';
  }
		</style>
    <h1 class="jumbotron">
			Mad Libs
		</h1>
		Fill in the form on the next page and submit to see your mad lib!
		<form action="/form">
			<center><button type="submit">Take me to the form</button></center>
		</form>
	</body>
</html>		